<form class="form-horizontal" role="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group">
            <div class="col-md-12" style="margin-bottom:10px;">
                <h5><strong>Category name:</strong></h5>
            </div>
            <div class="col-sm-4" style="margin-bottom:10px;">
                <input type="text" class="form-control" id="name" placeholder="Enter category name" [(ngModel)]='categoryName'>
            </div>
            <div class="col-md-12">
                <div *ngIf="showErrorMessage && !categoryName.length" class="alert alert-danger">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" (change)="changeMain()"> <strong>Main Category?</strong></label>
                </div>
            </div>
        </div>
      <fieldset class="form-group col-md-offset-1 col-md-6" *ngIf="isMain === false">
        <label for="category">Category</label>
        <select ngControl="productCategory" name="category">
          <option *ngFor="let category of categories" [value]="category.identifier">{{category.categoryName}}</option>
        </select>
      </fieldset>
        <div class="form-group">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-block">Save category</button>
            </div>
        </div>
    </div>
</form>
