<ul class="nav nav-pills nav-stacked">

  <li *ngFor="let mainCategory of mainCategories" role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <span>{{mainCategory.categoryName}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <template ngFor let-subCategory [ngForOf]="subCategories">
          <li *ngIf="mainCategory.identifier === subCategory.parentCategory">
            <a>{{subCategory.categoryName}}</a>
          </li>
      </template>
    </ul>
  </li>

</ul>
